$border-color: #00d1b2;
$ul-spacing: 2rem;
.vim-tree{
  ul{
    position: relative;
    padding-left: $ul-spacing;
  }
  ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid $border-color;
  }
  li::before{
    content: "-";
    color: $border-color;
    position: absolute;
    margin-left: -$ul-spacing;
  }
}
